body{background: white;}
.content1{
	border: 1px solid white;
	height: 1750px;
	width: 450px;
	margin: 30px;
}
.content2{
	border: 1px solid white;
	height: 1200px;
	width: 800px;
	margin: 30px;
	margin-left: 550px;
	margin-top: -1231px;

}
.nom{text-align: center;
	color: white;
	background: orange;
	margin-left: 1px;
	margin-right: 150px;
	margin-top: -500px;
	height: 50px;
	padding: 25px 240px 50px 100px;
}
.profil{
	border: 3px solid orange;
	margin-top: 30px;
	margin-right: 150px;
	padding-left: 100px;
	
}
.experience{
	border: 3px solid orange;
	margin-top: 35px;
	margin-right: 150px;
	height: 750px;
	padding-left: 100px;
	

}
.competence{
	border: 3px solid orange;
	margin-top: 39px;
	margin-right: 150px;
}
.content4{background-color: orange;
	height: 70px;
	width: 450px;
	margin-top: -200px;
	margin-left: 31px;
	}

.content3{
	background-color: orange;
	height: 125px;
	width: 30px;
	margin-top: -1731px;
	margin-right: 300px;
	float: right;

}
img{ padding-top: -150px;
	width: 450px;
	height: 420px;
}
.info{background-color: orange; height: 1100px;
	margin-top: -5px;
}
.info h1{
     padding: 20px;
     margin-top: -5px;
}
ul li{
	list-style-type: none;
	font-size: 25px;
	margin: 10px;
}

.competence ul li{
	list-style-type: none;
	font-size: 27px;
}


















